.app-header {
    padding: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-bottom: 1rem;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.app-title {
    margin-right: auto;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media(max-width: 768px) {
    .app-header {
        padding: 0.3rem 1rem;
    }
}