.timeline-item {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(58,62,49,.05);
}

.timeline-item-info {

}

.timeline-item-info .author-name {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}

.timeline-item-info .author-thumbnail {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 30px;
}

.timeline-item-contents {

}

.timeline-item-comments {

}